---
title: InterLace
body_class: index
---

#main
  %hgroup
    %h1 InterLace
    %h2 This is the tagline.

  %h2.demo This is what it is.
  %a{ :href => 'http://chaos.inter.numm.org' }
    %img{ :alt => 'Screenshot of a webpage with lots of frames of video on it', :src => 'images/chaos.png', :class => 'demo' }

  %h2.uses This is why it's great.
  %p
    InterLace takes an unconventional approach to video production and consumption.
    It effectively allows you to consume days of video in minutes.
    This qualitatively changes the way you can work with video and facilitates work that conventional video editors and viewers do not.
  %h3 Splitting up a video stream
  %p
    The simplest use of InterLace is splitting a long stream of video into many videos.
    InterLace makes it easy to identify visual changes in the video, so you can seek to
    those change points and split the long stream into clips.
  %h3 Conference engagement
  %p
    InterLace takes live-streaming to the next level.
    In addition to streaming video, InterLace encourages
    viewers to discuss the video inside of InterLace.
    Discussions that would otherwise have happened on Twitter or IRC
    happen in InterLace and naturally form annotations,
    resulting in a smarter archived video.

  %h2.process This is how you use it.
  %h3 Ingest
  %p InterLace imports videos from a live stream or from files.
  %img{ :alt => 'Hard drive, web and live stream icons pointing to a box saying "interLace"', :src => 'images/ingest.png' }
  %h3 View, structure and enrich
  %p Once the video is in InterLace, people can collaboratively watch and edit the video.
  %img{ :alt => 'The previous image, plus arrows connecting the interLace box to people icons', :src => 'images/view.png' }
