---
body_class: index
---
%img{ :src => '/images/logo.bmp' }
%h2 Our Mission
%p Statistics Without Borders (SWB) is an Outreach Group of the American Statistical Association. Comprised entirely of volunteers, we provide free statistical consulting to organizations and government agencies, particularly from developing nations, that do not have the resources for statistical services. In support of non-partisan and secular activities, SWB promotes the use of statistics to improve the health and well-being of all people. Our vision is to achieve and implement the best statistical practice in the service of others.

%a{ :class => 'button', :href => 'clients' } Suggest a project
%a{ :class => 'button', :href => 'consultants' } Volunteer

%h2 Highlighted Projects

%h2 Events
%h3 Joint Statistical Meetings (2013) 
%p At <a href="http://www.amstat.org/meetings/jsm/2013/index.cfm">JSM 2013</a> in Montréal, Canada, the following sessions will be co-sponsored by Statistics Without Borders or will feature presentations by SWB members:
%ul
  %li Survey Methodology, a Tool of Science Diplomacy in North Korea?

%h3 ASA Reverse Time Capsule
%p The ASA is celebrating its 175th birthday by a "reverse time capsule" to be opened in 2039.  The "reverse time capsule" will contain forecasts of or comments about the future, specifically regarding the year 2039, as viewed from the present perspective.  SWB has added the following prediction, as submitted by Gary Shapiro:
%p The ASA Outreach Group Statistics Without Borders (SWB) will continue to help international health initiatives and project be delivered more effectively through better use of statistics. SWB will be a vibrant and very successful organization with thousands of world-wide volunteers working on more than 100 projects per year.

