---
title: Statistics Without Borders
body_class: index
---
%h1 Statistics Without Borders

%h2 Our Mission
%p Statistics Without Borders (SWB) is an Outreach Group of the American Statistical Association. Comprised entirely of volunteers, we provide free statistical consulting to organizations and government agencies, particularly from developing nations, that do not have the resources for statistical services. In support of non-partisan and secular activities, SWB promotes the use of statistics to improve the health and well-being of all people. Our vision is to achieve and implement the best statistical practice in the service of others.

%button Suggest a project
%button Volunteer

%h2 Highlighted Projects

%h2 Events
