---
title: Statistics Without Borders
body_class: about
---
%h1 About

%h2 Mission
%p Statistics Without Borders (SWB) is an Outreach Group of the American Statistical Association. Comprised entirely of volunteers, we provide free statistical consulting to organizations and government agencies, particularly from developing nations, that do not have the resources for statistical services. In support of non-partisan and secular activities, SWB promotes the use of statistics to improve the health and well-being of all people. Our vision is to achieve and implement the best statistical practice in the service of others.
%p Read more in our <a href="charter.pdf">charter</a> and our <a href="guidelines.html">project guidelines</a>.

%h2 Leadership

%h3 Officers

%hgroup
  %h4 Justin Fisher              
  %h5 Chair
%p Justin Fisher is a Senior Statistician at the U.S. Government Accountability Office. Justin works on evaluations of a wide variety of government programs and focuses methodologically on sampling and variance estimation. Prior to GAO, he held positions at various United Nations agencies including UNCTAD, UNESCO and UNESCAP. In addition to his responsibilities at GAO, he is also a lecturer in the Elliott School of International Affairs at The George Washington University, where he teaches a graduate-level statistics course.  As a member of Statistics Without Borders, he has traveled to Haiti and North Korea to assist with projects.

%hgroup
  %h4 Rebecca Scherzer, PhD
  %h5 Vice-Chair
%p Rebecca Scherzer, PhD is the principal research statistician on the NIH-funded FRAM study (Fat Redistribution and Metabolic Change in HIV Infection) at the University of California at San Francisco.  In this role, Rebecca investigates the progression of fat distribution, metabolic changes, and contributors to cardiovascular disease in HIV-infected patients.  Prior to joining FRAM, Rebecca spent several years in the pharmaceutical industry as a senior statistical manager.  Rebecca served as chair of the SWB New Projects Committee from January to July 2010, and is presently Vice Chair of SWB. 

%hgroup
  %h4 Sowmya Rao
  %h5 Secretary
%p Sowmya Rao is an Associate Professor at the University of Massachusetts Medical School, Worcester, MA and the Veterans Administration Medical Center, Bedford, MA primarily working in the area of health services research. She is interested in global health and has been a member of SWB since 2009. In 2010, she enjoyed the opportunity to assist UNICEF on a health project in Sierra Leone. She previously served as the secretary of the SWB New Projects Committee and has also served as a secretary on other boards.


%hgroup
  %h4 STEVE PIERSON
  %h5 Ex-officio Board Member
%p Steve has been ASA Director of Science Policy since March, 2008. Previously, he was Head of Government Relations for the American Physical Society and Associate Professor of Physics at Worcester Polytechnic Institute in Worcester, MA. 

%h3 Committee Chairs

%hgroup
  %h4 Gary Shapiro
  %h5 Immediate Past Chair
%p Gary Shapiro is retired from Westat, where he was Senior Statistician from 1996 to 2009. Gary was the lead statistician, senior statistician, or/and task leader on over 30 projects, mostly involving survey sample design, weighting, and variance estimation. Prior to being at Westat, Gary was a Senior Statistician at Abt Associates from 1993 to 1996, where he was the lead statistician for a number of surveys. From 1965 to 1993 Gary was at the U S Census Bureau. For almost 20 years of this period, he was an Assistant Chief of the Demographic Statistical Methods Division, where he oversaw the operation of up to five branches with the responsibility for sample design, weighting, and variance estimation for the demographic surveys. He is a co-founder of Statistics Without Borders, together with Steve Pierson and Fritz Scheuren. He served as initial SWB Co-Chair and then as Chair from 2010 to 2012.

%hgroup
  %h4 Cathy Furlong
  %h5 Chair New Projects Committee
%p Cathy Furlong is currently employed in the Medicare fraud industry where she works on data mining, sampling, and extrapolations with Medicare data. She holds a Masters in Statistics from American University. Her areas of interest are human rights and nature. Cathy also volunteers as the Membership Chair for the Caucus for Women in Statistics and the Waltz Committee at Glen Echo Park in Maryland.

%hgroup
  %h4 Young Chun
  %h5 Program Chair
%p Young Chun is a branch chief and supervisory mathematical statistician at the U.S. Census Bureau. A journalist-turned-sociologist/survey methodologist, Young - who looks younger than he is - has over 20 years of research, teaching and publication experience in nonresponse and measurement errors as well as innovative use of paradata and administrative records. Prior to Census, he supported fulfilling the mission of federal statistical agencies, including the Bureau of Labor Statistics and National Center for Education Statistics. He also worked for academic research institutions, including University of Michigan Institute for Social Research (data archive specialist), University of Maryland (faculty instructor), and NORC at the University of Chicago (senior survey methodologist). As a SWB member, he supported the Haiti project by providing human subject review required for an assessment survey of the 2010 earthquake and provided methodological assistance to African projects. Teaming with a score of SWB volunteer professionals, he currently leads a higher education project that offers intensive summer graduate training programs in statistics and survey methodology in a developing country. Young earned his A.B. in Communications and M.A. in Communication Studies both at the University of Michigan and his Ph.D. in Sociology at the University of Maryland.

%hgroup
  %h4 Nilupa Gunaratna
  %h5 Communications Director

%hgroup
  %h5 Mary McGraw Gross
  %h4 Chair Media and Publicity Committee
%p Mary McGraw Gross is a mathematical statistician who holds a B.S. in Applied Mathematics with a minor in Applied Statistics as well as a M.S. in Statistics from University of Houston Clear Lake. Having a variety of expertise inside and outside the Statistics field including actuarial risk statistics, publications, presentations, abstracts, programming, database design, surveys and business analysis as well as other areas excels Statistics Without Borders to encompass a variety of areas that they can provide guidance and help to organizations, government and individuals. She has had the pleasure of working as a statistical researcher for a University, a statistician as well as programmer and business analyst at the United States Federal Courts in the Southern District of Texas, an actuarial statistician for life insurance products and as a statistician, programmer and database designer for a political polling firm in the D.C. area. Currently Chairing the Media & Publicity Committee, they continue working on media videos such as the Statistics Without Borders PSA video that is currently in final development and a video for the International Year of Statistics 2013. Mary is also working on papers for publication such as a paper with Physicians for Human Rights and abstracts with various organizations to spread how Statistics Without Borders can help those in need of statistical consulting. 

%hgroup
  %h4 Jerzy Wieczorek
  %h5 Website Co-Chair
%p Jerzy Wieczorek is a mathematical statistician with the U.S. Census Bureau. He holds a B.S. in Engineering from Olin College and completed his M.S. in Statistics at Portland State University while working in the university's Intelligent Transportation Systems Lab. Jerzy also volunteers with StatAid and teaches beginning Polish for the Global Language Network in the Washington, DC area.

%hgroup
  %h4 Jennifer Sniadecki
  %h5 Website Co-Chair
%p Jennifer Sniadecki is currently employed in the pharmaceutical industry where she works on programming clinical trials, conducting simulations and performing statistical analysis.  She holds a B.S. in Chemistry from Western Michigan University and a M.S. in Biostatistics from the University of Michigan.  Her areas of interest are applying data mining methods in the life sciences and statistical computing. 
