---
title: Statistics Without Borders
body_class: about
---
%h1 About

%h2 Mission
%p Statistics Without Borders (SWB) is an Outreach Group of the American Statistical Association. Comprised entirely of volunteers, we provide free statistical consulting to organizations and government agencies, particularly from developing nations, that do not have the resources for statistical services. In support of non-partisan and secular activities, SWB promotes the use of statistics to improve the health and well-being of all people. Our vision is to achieve and implement the best statistical practice in the service of others.

%h2 Leadership

%h3 Officers

%hgroup
  %h4 Justin Fisher              
  %h5 Chair
%p Justin Fisher is a Senior Statistician at the U.S. Government Accountability Office. Justin works on evaluations of a wide variety of government programs and focuses methodologically on sampling and variance estimation. Prior to GAO, he held positions at various United Nations agencies including UNCTAD, UNESCO and UNESCAP. In addition to his responsibilities at GAO, he is also a lecturer in the Elliott School of International Affairs at The George Washington University, where he teaches a graduate-level statistics course.  As a member of Statistics Without Borders, he has traveled to Haiti and North Korea to assist with projects.

%hgroup
  %h4 Rebecca Scherzer, PhD
  %h5 Vice-Chair
%p Rebecca Scherzer, PhD is the principal research statistician on the NIH-funded FRAM study (Fat Redistribution and Metabolic Change in HIV Infection) at the University of California at San Francisco.  In this role, Rebecca investigates the progression of fat distribution, metabolic changes, and contributors to cardiovascular disease in HIV-infected patients.  Prior to joining FRAM, Rebecca spent several years in the pharmaceutical industry as a senior statistical manager.  Rebecca served as chair of the SWB New Projects Committee from January to July 2010, and is presently Vice Chair of SWB. 

%hgroup
  %h4 Sowmya Rao
  %h5 Secretary
%p Sowmya Rao is an Associate Professor at the University of Massachusetts Medical School, Worcester, MA and the Veterans Administration Medical Center, Bedford, MA primarily working in the area of health services research. She is interested in global health and has been a member of SWB since 2009. In 2010, she enjoyed the opportunity to assist UNICEF on a health project in Sierra Leone. She previously served as the secretary of the SWB New Projects Committee and has also served as a secretary on other boards.


%hgroup
  %h4 STEVE PIERSON
  %h5 Ex-officio Board Member
%p Steve has been ASA Director of Science Policy since March, 2008. Previously, he was Head of Government Relations for the American Physical Society and Associate Professor of Physics at Worcester Polytechnic Institute in Worcester, MA. 

%h3 Committee Chairs
